*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(https://picsum.photos/1300);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    place-items:center;
}
.first{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    background: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

h1{
  margin-left: 58px; 
  color: rgb(0, 0, 0); 
}
/* .buttons{
    padding: 20px;
} */

.button{
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
    outline: none;
    border: none;
    /* padding: 30px; */
    border-radius: 15px;
    background-color: crimson;
    color: black;
}
#plus{
    background-color:springgreen;
    color: black;

}
.reset{
    font-weight: 600;
    width: 50px;
    height: 50px;
    font-size: 10px;
    width: 100px;
    outline: none;
    border: none;
    /* padding: 30px; */
    border-radius: 15px;
    background-color:cornflowerblue;
    color: whitesmoke;
    margin-left: 20px;
}